:root{
    --pyro-orange: #ef5423;
    --pyro-black: #000000;
    --pyro-gray: #f0f0f0;
}

h1 {
    font-size: 32pt;
    font-family:sans-serif;
}

h2 {
    font-size: 24pt;
    font-family:sans-serif;
}

.section {
    margin: 0px 20px 0px 20px;
    text-align:justify;
}

.title {
    text-align:center;
    /* background-color: var(--pyro-black, black); */
    background-color: #00005f;
    border-radius: 40px;
    color: white;
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: 0px 0px 50px 0px;
}

.subtitle {
    text-align:center;
    border-color: var(--pyro-black, black);
    border-style: solid;
    border-width: 3px;
    border-radius: 40px;
    color: var(--pyro-black, black);
    font-family: Arial, sans-serif;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.tagline {
    text-align:center;
    font-family:sans;
    font-size:18px;
    margin:auto;
    margin-top:100px;
    margin-bottom:100px;
    border:1px solid black;
    border-radius:10px;
    padding:10px;
    width:350px;
}


.toc0 {
    text-align:left;
    position: relative;
    left: 10px;
    color: var(--pyro-black, black);
    font-family: serif;
    padding: 2px;
}

.toc1 {
    text-align:left;
    position: relative;
    left: 30px;
    color: var(--pyro-black, black);
    font-family: serif;
    padding: 2px;
}

.toc2 {
    text-align:left;
    position: relative;
    left: 50px;
    color: var(--pyro-black, black);
    font-family: serif;
    padding: 2px;
}

.code {
    /*background-color: #ffeebb;*/
    background-color: var(--pyro-gray, gray);
    margin-top:5;
    margin-bottom:5;
    padding: 10px;
    font-family:Monospace;
    color: black;
}

span.code{
    /*background-color: #ffeebb;*/
    background-color: var(--pyro-gray, gray);
    margin-top:0;
    margin-bottom:0;
    padding: 3px;
    font-family:Monospace;
    color: black;
}

.figure{
    width: 100%;
    text-align:center;
    position:static;
}

#menu {
    width:200px;
    height:100%;
    border:none;
    text-align:center;
    position:fixed;
    top:10;left:0;
    padding:10px;
}


a:link, a:visited, a:active {
    color:black;
    text-decoration:underline;
}

a:hover {
    color:#ef5423;
}

#content {
    width:700px;
    text-align:justify;
    position:absolute;
    top:10px;
    left:250px;
    padding:0 0 0 0;
    margin:0 0 0 0;
    border:none;
}

#contact {
    text-align:center;
    font-size:80%;
    border:none;
    width:100%;
}

.menuitem {
    margin-top:20px;
    margin-bottom:20px;
    font-family:Arial,sans-serif;
    font-size:14pt;
}

.smenuitem {
    margin-top:20px;
    margin-bottom:20px;
}

